.header-wrapper {
  border-bottom: solid $border-color; 
}

.nav-items {
  @include flex(flex-end);
  list-style: none;
  color: $text-color;

  .add-profile {
    @include flex(flex-end);
    color: $main-color;
  }
}

.nav-item {
  margin: $margin-nav;
}