.header-wrapper {
  border-bottom: solid $border-color; 
}

.nav-items {
  @include flex(flex-end);
  list-style: none;
  color: $text-color;

  .nav-item {
    margin: $margin-nav;

    @for $i from 4 through 5 {
      &:nth-child(#{$i}) {
        color: $main-color;
      }
    }
  }  
}

