// Color

$main-color: #68b4e4;
$secundary-color: #4ced4c;
$main-bg-color: #fcfcfd;
$body-bg-color: #f1f1f1;
$footer-bg-color: #404448;
$text-color: #B6B8BB;
$text-color-bold: #424954;
$title-color: #24292E;
$border-color: #e4e5e9;

//body

$font-main: 'Roboto';
$font-size-main: 14px;
$font-size-large: 22px;


//Header

$header-height: 80px;


// Button

$btn-width: 100%;
$btn-line-height: 70px;



// Spacing

$padding-main: 20px;
$padding-card: 15px;
$padding-chip: 5px 15px;
$margin-card: 10px;

$margin-nav: 12px;

// Cards

$card-width: 320px;
$card-height: 450px;
